@import "normalize.css";
ul,
li,
p,
dl,
dd,
dt {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: #fff;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, "WenQuanYi Micro Hei", Verdana, sans-serif, "\5B8B\4F53";
}
.navigation {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}
.navigation .navigation_content {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.navigation .navigation_link {
  float: left;
  height: 100px;
  line-height: 100px;
  margin-left: 100px;
}
.navigation .navigation_link a {
  font-size: 14px;
  color: #fff;
  height: 100px;
  float: left;
  display: block;
  text-decoration: none;
  width: 100px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.navigation .navigation_link a:hover {
  text-decoration: underline;
}
.navigation .navigation_logo {
  float: left;
  display: block;
  width: 113px;
  height: 100px;
  padding-top: 22px;
}
.navigation .navigation_logo img {
  width: 113px;
  height: 55px;
}
.banner {
  height: 580px;
  width: 100%;
}
.swiper-container,
.auction-container {
  width: 100%;
  margin: 0 auto;
  height: 580px;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: .8;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 10px;
}
.auction-container .swiper-slide {
  padding-top: 10px;
  align-items: start;
}
.auction-pagination {
  z-index: 999;
  width: 100%;
  bottom: 35px!important;
  text-align: center;
  position: absolute;
}
.auction-pagination .swiper-pagination-bullet {
  background: #ebe8e6;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.auction-pagination .swiper-pagination-bullet-active {
  background: #fd996e;
}
.banner_content {
  width: 1200px;
  height: 0;
  margin: 0 auto;
  position: relative;
}
.news_block {
  width: 100%;
  background: #f7f3f1;
}
.news {
  width: 1200px;
  height: 376px;
  margin: 0 auto;
  position: relative;
}
.news .news_list {
  padding: 0 40px;
  float: left;
  width: 620px;
  height: 376px;
  background: #fff;
  position: relative;
}
.news .news_list .news_more {
  background: #6e6965;
  display: block;
  width: 34px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0px;
}
.news .news_list .news_list_title {
  padding-top: 30px;
  font-size: 24px;
  color: #925725;
  margin-bottom: 25px;
}
.news .news_list .news_list_big_title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #655a50;
  cursor: pointer;
}
.news .news_list .news_list_big_title:hover {
  text-decoration: underline;
}
.news .news_list .news_list_big_content {
  padding-top: 30px;
  display: block;
  line-height: 20px;
  padding-bottom: 25px;
  border-bottom: 3px solid #eceae8;
  font-size: 14px;
  color: #676767;
  cursor: pointer;
}
.news .news_list .news_list_big_content:hover {
  text-decoration: underline;
}
.news .news_list .news_list_item_list {
  padding-top: 25px;
}
.news .news_list .news_list_item_list a {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #655a50;
  text-decoration: none;
}
.news .news_list .news_list_item_list a:hover {
  text-decoration: underline;
}
.news .newcomer {
  width: 477px;
  float: left;
  height: 376px;
  background: url("/upload/img/new.png") no-repeat;
}
.news .newcomer .newcomer_button {
  width: 246px;
  height: 56px;
  display: block;
  margin-top: 244px;
  margin-left: 83px;
}
.download {
  z-index: 9999;
  position: absolute;
  right: 0;
  top: 126px;
  width: 261px;
  height: 461px;
  background: url("/upload/img/dn.png") no-repeat;
}
.download .download_link {
  width: 261px;
  display: block;
  height: 260px;
}
.download .download_qq {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding-left: 30px;
  text-align: center;
  background: url("/upload/img/dnicon02.png") 90px center no-repeat;
}
.download .download_baidu {
  width: 261px;
  color: #fff;
  font-size: 14px;
  line-height: 62px;
  text-align: center;
  padding-left: 46px;
  text-decoration: none;
  display: block;
  height: 62px;
  position: relative;
  background: url("/upload/img/dnicon01.png") 70px center no-repeat;
}
.download .download_baidu:hover {
  color: #fecf42;
}
.banner_link {
  width: 100%;
  height: 93px;
  background: #514b46;
}
.banner_link .banner_link_content {
  padding-left: 50px;
  width: 1200px;
  margin: 0 auto;
}
.famous {
  width: 100%;
  overflow: hidden;
}
.famous .famous_content {
  padding-top: 50px;
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 212px;
}
.famous .famous_content .img_box_l {
  position: absolute;
  top: 50px;
  left: 0;
  width: 160px;
  text-align: center;
}
.famous .famous_content li {
  position: relative;
  float: left;
  width: 207px;
  padding-right: 47px;
  text-align: center;
}
.famous .famous_content li:last-child {
  width: 160px;
  padding-right: 0px;
}
.famous .famous_content li:last-child img.line {
  display: none;
}
.famous .famous_content li img.line {
  position: absolute;
  top: 77px;
  right: -2px;
}
.famous .famous_content li .price {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #88365f;
  line-height: 18px;
}
.famous .famous_content li .stit {
  width: 160px;
  height: 30px;
  font-size: 16px;
  line-height: 22px;
  display: table;
}
.famous .famous_content li .stit p {
  display: table-cell;
  vertical-align: middle;
}
.famous .famous_content li .thum {
  position: relative;
  width: 160px;
  display: block;
  height: 164px;
  padding: 34px 0 0 0;
  /* padding: 4px 0 0 0; */
  background: url("/upload/img/item00.png") no-repeat left 4px;
}
.famous .famous_content li .thum a:link,
.famous .famous_content li .thum a:visited {
  color: #676767;
  text-decoration: none;
}
.famous .famous_content li .thum img {
  width: 110px;
  vertical-align: top;
}
.famous .famous_content li .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  text-align: center;
  z-index: 10;
}
.famous .famous_content li .icon img {
  vertical-align: top;
}
.screenshot {
  width: 100%;
}
.screenshot .screenshot_content {
  width: 1200px;
  margin: 0 auto;
}
.screenshot .screenshot_content .ucc_tit {
  margin-top: 30px;
  overflow: hidden;
  padding: 20px 0;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  color: #614830;
  line-height: 22px;
}
.screenshot .screenshot_content .fl {
  float: left;
}
.screenshot .screenshot_content .main_ucc {
  padding: 0 0 27px 0;
  width: 100%;
  overflow: hidden;
}
.screenshot .screenshot_content .main_ucc ul {
  width: 100%;
  overflow: hidden;
}
.screenshot .screenshot_content .main_ucc li {
  float: left;
  padding-bottom: 30px;
  margin-right: 22px;
  cursor: pointer;
}
.screenshot .screenshot_content .main_ucc li.last {
  margin-right: 0;
  float: right;
}
.screenshot .screenshot_content .main_ucc li .thum {
  display: block;
  position: relative;
  width: 283px;
  height: 248px;
  border: 1px solid #ebe8e6;
  overflow: hidden;
  background: #000;
  text-align: center;
}
.screenshot .screenshot_content .main_ucc li .thum a {
  display: block;
  z-index: 99;
  overflow: hidden;
}
.screenshot .screenshot_content .main_ucc li .thum img {
  height: 248px;
  vertical-align: top;
}
.screenshot .screenshot_content .main_ucc li .thum span.gradation {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 283px;
  height: 248px;
  background: url("/upload/img/bg_ucc01.png") no-repeat left top;
}
.screenshot .screenshot_content .main_ucc li .thum span.over {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 281px;
  height: 246px;
  border: 2px solid #c16151;
  display: none;
  z-index: 20;
}
.screenshot .screenshot_content .main_ucc li .thum .txt02 {
  position: absolute;
  left: 0;
  bottom: 17px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  color: #ffd02e;
  line-height: 18px;
  z-index: 10;
}
.screenshot .screenshot_content .main_ucc li .thum .txt {
  position: absolute;
  left: 0;
  bottom: 42px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  color: #ebe8e6;
  line-height: 16px;
  z-index: 10;
}
.screenshot .screenshot_content ul,
.screenshot .screenshot_content ol {
  list-style-type: none;
}
.screenshot .screenshot_content .btn_more {
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 14px;
  padding-left: 15px;
  background: url("/upload/img/bg_plus.gif") no-repeat left 1px;
}
.screenshot .screenshot_content .btn_more:link,
.screenshot .screenshot_content .btn_more:visited {
  color: #676767;
  text-decoration: none;
}
.celebrity {
  width: 100%;
  overflow: hidden;
  background: url("/upload/img/mrtbg.png") center no-repeat;
}
.celebrity .celebrity_content {
  padding-top: 50px;
  width: 1200px;
  margin: 0 auto;
  height: 451px;
  position: relative;
}
.celebrity .celebrity_content .object_title {
  width: 601px;
  height: 74px;
  margin-bottom: 30px;
  background: url("/upload/img/obj09title.png") no-repeat;
}
.celebrity .celebrity_content .object_info {
  width: 720px;
  line-height: 25px;
  font-size: 16px;
  color: #ebe8e6;
}
.celebrity .celebrity_content .object_list {
  padding-top: 60px;
  width: 100%;
  height: 90px;
}
.celebrity .celebrity_content .object_list a {
  display: block;
  float: left;
  margin-right: 30px;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
}
.celebrity .celebrity_content .object_list a img {
  width: 100%;
}
.celebrity .celebrity_content .object_button {
  display: block;
  margin-top: 20px;
  overflow: hidden;
  width: 160px;
  height: 40px;
  color: #eae7e5;
  line-height: 34px;
  text-align: center;
  border: 3px solid #eae7e5;
}
.celebrity .celebrity_content .object {
  width: 820px;
  height: 451px;
  position: absolute;
  top: 0;
  right: -400px;
  background: url("/upload/img/obj09.png") no-repeat;
}
.bottom_info {
  width: 100%;
  overflow: hidden;
}
.bottom_info .bottom_info_content {
  padding: 40px 0;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.bottom_info .bottom_info_content .bottom_info_content_text {
  padding: 5px 0;
  width: 100%;
  overflow: hidden;
}
.bottom_info .bottom_info_content .bottom_info_content_text a {
  padding-right: 10px;
  color: #000;
  font-size: 14px;
}
.container_wrap {
  background: url("/upload/img/bg_cont01.gif") repeat-y center top;
}
.container_wrap .container {
  position: relative;
  width: 1200px;
  padding-bottom: 150px;
  margin: 0 auto;
}
.container_wrap .container .contents {
  min-height: 600px;
  padding: 50px 300px 0 0;
  background: url("/upload/img/text_cont01.gif") no-repeat left top;
}
.container_wrap {
  background: url("/upload/img/bg_cont01.gif") repeat-y center top;
}
.container_wrap:after {
  content: "";
  display: block;
  clear: both;
}
.container_wrap .container {
  position: relative;
  width: 1200px;
  padding-bottom: 150px;
  margin: 0 auto;
}
.container_wrap .container:after {
  content: "";
  display: block;
  clear: both;
}
.contents {
  min-height: 600px;
  padding: 50px 300px 0 0;
  background: url("/upload/img/text_cont01.gif") no-repeat left top;
}
.contents h3.title {
  position: relative;
  height: 60px;
  font-weight: bold;
  font-size: 25px;
  color: #3f3429;
  line-height: 25px;
  letter-spacing: -1px;
}
.contents h3.title p.sel_r {
  position: absolute;
  top: 0;
  right: 0;
}
.contents h3.title p.sel_r select.sel_ty01 {
  width: 120px;
  height: 35px;
  font-size: 15px;
  color: #676767;
  line-height: 35px;
  border: 1px solid #e8e8e8;
  /*padding:0 0 0 32px;*/
}
.board_view01 dt {
  height: 81px;
  font-size: 22px;
  color: #fff;
  line-height: 81px;
  padding: 0 0 0 40px;
  background: #9b9b9b;
}
.board_view01 dd.view_info {
  height: 50px;
  font-size: 13px;
  color: #949494;
  line-height: 50px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 30px;
}
.board_view01 dd.view_info span.rank {
  font-size: 16px;
  color: #676767;
  padding: 0 21px 0 0;
  margin-right: 20px;
  background: url('/upload/img/line_board01.gif') no-repeat right 3px;
}
.board_view01 dd.view_info span.name01 {
  font-size: 16px;
  color: #676767;
}
.board_view01 dd.view_info span.like {
  padding: 0 20px 0 13px;
  background: url('/upload/img/icon_heart.png') no-repeat left 3px;
}
.board_view01 dd.view_info span.view {
  padding: 0 20px 0 16px;
  background: url('/upload/img/icon_view.png') no-repeat left 4px;
}
.board_view01 dd.view_cont_wrap {
  border-bottom: 1px solid #e8e8e8;
}
.board_view01 dd.view_cont_wrap .view_cont {
  font-size: 15px;
  line-height: 30px;
  padding: 20px 30px 50px 30px;
  word-wrap: break-word;
}
.board_view01 dd.view_cont_wrap .view_cont > div {
  margin: 0 auto !important;
}
.board_view01 dd.view_cont_wrap .view_cont img {
  max-height: auto;
  max-width: 840px;
}
.name_tag_wrap {
  padding: 0 0 50px 0;
}
.name_tag_wrap:after {
  content: "";
  display: block;
  clear: both;
}
.name_tag01 {
  position: relative;
  float: right;
  width: 155px;
  height: 256px;
  border: 1px solid #e8e8e8;
  padding: 0 0 0 153px;
}
.name_tag01 .img_avt {
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  height: 256px;
  text-align: center;
}
.name_tag01 .info {
  position: relative;
  width: 122px;
  padding: 72px 0 85px 0;
  text-align: center;
}
.name_tag01 .info p.top_stit {
  position: absolute;
  top: -1px;
  left: 0;
  width: 122px;
  height: 65px;
  background: #c16151;
}
.name_tag01 .info p.txt_box {
  height: 100px;
  font-size: 16px;
  line-height: 23px;
}
.name_tag01 .info p.btm_id {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 84px;
  font-weight: bold;
  font-size: 22px;
  color: #6e6258;
  line-height: 22px;
  text-align: center;
}
.name_tag01 .info p.btm_id span.icon {
  display: inline-block;
  padding-bottom: 8px;
  vertical-align: top;
}
.name_tag02 {
  width: 718px;
  border: 1px solid #e8e8e8;
  margin: 0 auto;
}
.name_tag02 .top_box {
  overflow: hidden;
  position: relative;
  height: 39px;
  line-height: 39px;
  padding-top: 4px;
  background: #c16151;
  text-align: center;
}
.name_tag02 .btm_box {
  position: relative;
  min-height: 280px;
  padding: 55px 33px 0 152px;
}
.name_tag02 .img_avt {
  position: absolute;
  top: 0;
  left: 14px;
  width: 128px;
  height: 256px;
  text-align: center;
}
.name_tag02 dt {
  height: 37px;
  font-size: 18px;
  color: #676767;
  line-height: 22px;
  padding: 0;
  background: url('http://s.nx.com/s2/game/mabinogi/mabiweb/homepage/images/common/bg_dot01.gif') repeat-x left bottom;
}
.name_tag02 dt span.word {
  display: inline-block;
  font-size: 13px;
  color: #989390;
  padding: 1px 0 0 11px;
  margin-left: 7px;
  background: url('http://s.nx.com/s2/game/mabinogi/mabiweb/homepage/images/sub/bg_line01.gif') no-repeat left 7px;
  vertical-align: top;
}
.name_tag02 dd {
  position: relative;
  padding: 40px 0 0 20px;
}
.na me_tag02 ul {
  height: 48px;
}
.name_tag02 li {
  width: 280px;
  font-size: 16px;
  color: #949494;
  padding: 0 0 20px 20px;
  background: url('http://s.nx.com/s2/game/mabinogi/mabiweb/homepage/images/common/icon_logo01.png') no-repeat left top;
}
.name_tag02 li.last {
  width: 280px;
}
.name_tag02 li span.stit {
  display: inline-block;
  width: 82px;
  /*width:69px;*/
}
.name_tag02 li span.txt {
  display: inline-block;
  /*width:151px; width:231px;*/
  color: #c16151;
}
.name_tag02 li.last span.stit {
  width: 82px;
}
.name_tag02 li.last span.txt {
  /*width:151px;*/
}
.name_tag02 .btm_btns {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 180px;
}
.name_tag02 .btm_btns a {
  display: inline-block;
  width: 180px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  background: #989390;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}
.global_site_wrap {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.global_site_wrap .global_site {
  width: 1200px;
  line-height: 39px;
  color: #949494;
  height: 39px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}
/* tab */
.board_tab_ty01 {
  position: relative;
  padding: 0 0 24px 0;
}
.board_tab_ty01 ul {
  height: 42px;
  border-left: 1px solid #e8e8e8;
}
.board_tab_ty01 li {
  float: left;
}
.board_tab_ty01 li a {
  position: relative;
  display: block;
  width: 118px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #e8e8e8;
  border-left: none;
  text-align: center;
  text-decoration: none;
  margin: 0;
}
.board_tab_ty01 li a.on {
  color: #fff;
  border: 1px solid #c16151;
  background: #c16151;
  margin-left: -1px;
}
.board_tab_ty01 li a:hover {
  color: #fff;
  border: 1px solid #c16151;
  background: #c16151;
  margin-left: -1px;
}
.board_tab_ty01 p.sel_r {
  position: absolute;
  top: 8px;
  right: 0;
}
.board_tab_ty01 p.sel_r select.sel_ty01 {
  width: 120px;
  height: 35px;
  font-size: 15px;
  color: #676767;
  line-height: 35px;
  border: 1px solid #e8e8e8;
  /*padding:0 0 0 15px;*/
}
.board_tab_ty01 li.long01 a {
  width: 253px;
}
.board_tab_ty01 li.long02 a {
  width: 168px;
}
.board_tab_ty01 li.long03 a {
  width: 218px;
}
.board_tab_ty01 li.long04 a {
  width: 190px;
}
.board_tab_ty01 li.long05 a {
  width: 200px;
}
.board_tab_ty02 {
  position: relative;
  padding: 0 0 40px 0;
}
.board_tab_ty02.no_pb {
  padding-bottom: 0;
}
.board_tab_ty02 ul {
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.board_tab_ty02 ul:after {
  content: "";
  display: block;
  clear: both;
}
.board_tab_ty02 li {
  float: left;
}
.board_tab_ty02 li a {
  position: relative;
  display: block;
  width: 224px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #e8e8e8;
  border-top: none;
  border-left: none;
  text-align: center;
  text-decoration: none;
  margin: -1px 0 0 0;
}
.board_tab_ty02 li a.on {
  color: #fff;
  border: 1px solid #c16151;
  border-top: none;
  background: #c16151;
  margin-left: -1px;
}
.board_tab_ty02 li a:hover {
  color: #fff;
  border: 1px solid #c16151;
  border-top: none;
  background: #c16151;
  margin-left: -1px;
}
.board_tab_ty02 li.last a {
  width: 223px;
}
.board_tab_ty02 li.empty p {
  position: relative;
  width: 224px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #e8e8e8;
  border-top: none;
  border-left: none;
  text-align: center;
  text-decoration: none;
  margin: -1px 0 0 0;
}
.board_tab_ty02 li.last.empty p {
  width: 223px;
}
.board_tab_ty03 {
  position: relative;
  padding: 0 0 40px 0;
}
.board_tab_ty03.no_pb {
  padding-bottom: 0;
}
.board_tab_ty03 ul {
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.board_tab_ty03 ul:after {
  content: "";
  display: block;
  clear: both;
}
.board_tab_ty03 li {
  float: left;
}
.board_tab_ty03 li a {
  position: relative;
  display: block;
  width: 224px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  border-left: none;
  text-align: center;
  text-decoration: none;
  margin: 0;
}
.board_tab_ty03 li a.on {
  color: #fff;
  border: 1px solid #c16151;
  border-bottom: none;
  background: #c16151;
  margin-left: -1px;
}
.board_tab_ty03 li a:hover {
  color: #fff;
  border: 1px solid #c16151;
  border-bottom: none;
  background: #c16151;
  margin-left: -1px;
}
.board_tab_ty03 li.last a {
  width: 223px;
}
.board_tab_ty04 {
  position: relative;
  padding: 0 0 30px 0;
}
.board_tab_ty04.no_pb {
  padding-bottom: 0;
}
.board_tab_ty04 ul {
  border-left: 1px solid #e8e8e8;
}
.board_tab_ty04 ul:after {
  content: "";
  display: block;
  clear: both;
}
.board_tab_ty04 li {
  float: left;
}
.board_tab_ty04 li a {
  position: relative;
  display: block;
  width: 118px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #e8e8e8;
  border-left: none;
  text-align: center;
  text-decoration: none;
  margin: 0;
}
.board_tab_ty04 li a.on {
  color: #fff;
  border: 1px solid #c16151;
  background: #c16151;
  margin-left: -1px;
}
.board_tab_ty04 li a:hover {
  color: #fff;
  border: 1px solid #c16151;
  background: #c16151;
  margin-left: -1px;
}
.board_event li {
  position: relative;
  height: 171px;
  padding: 0 0 0 438px;
  margin-top: 20px;
  background: url('http://s.nx.com/s2/game/mabinogi/mabiweb/homepage/images/common/bg_dot01.gif') repeat-x left bottom;
}
.board_event li.first {
  margin-top: 0;
}
.board_event li .thum {
  position: absolute;
  top: 0;
  left: 0;
}
.board_event li .thum img {
  width: 410px;
  height: 150px;
}
.board_event dl {
  padding: 15px 0 0 0;
}
.board_event dt {
  font-weight: bold;
  font-size: 24px;
  color: #6e6965;
  line-height: 24px;
  padding-bottom: 12px;
}
.board_event dt a {
  color: #6e6965;
}
.board_event dd {
  font-size: 13px;
  color: #949494;
  line-height: 20px;
}
.board_event dd p.cont {
  height: 78px;
}
.board_event dd p.cont a {
  color: #949494;
  display: block;
}
.board_event dd p.date {
  line-height: 13px;
}
.board_thum {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #e8e8e8;
}
.board_thum:after {
  content: "";
  display: block;
  clear: both;
}
.board_thum li {
  float: left;
  padding-bottom: 30px;
  margin-right: 20px;
}
.board_thum li:after {
  content: "";
  display: block;
  clear: both;
}
.board_thum li.last {
  margin-right: 0;
}
.board_thum li:nth-child(3n+1) {
  margin-right: 23px !important;
}
.board_thum li .thum {
  position: relative;
  width: 283px;
  height: 248px;
  padding: 1px;
  overflow: hidden;
  background: #000;
  display: block;
  text-align: center;
}
.board_thum li .thum img {
  height: 248px;
  /*margin-left:-10%;*/
}
.board_thum li .thum.new img {
  width: 283px;
  height: 248px;
}
.board_thum li .thum span.txt {
  position: absolute;
  left: 10px;
  bottom: 20px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  line-height: 16px;
  z-index: 10;
}
.board_thum li .thum span.txt span.num {
  font-size: 13px;
  color: #ffd02e;
}
.board_thum li .thum span.txt .icon_n {
  width: 17px;
  height: 17px;
  margin: 0 0 0 6px;
}
.board_thum li .thum span.gradation {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 283px;
  height: 248px;
  border: 1px solid #ebe8e6;
  background: url('/upload/img/bg_ucc01.png') no-repeat left top;
}
.board_thum li .thum span.over {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 281px;
  height: 246px;
  border: 2px solid #c16151;
  display: none;
  z-index: 20;
}
.board_thum li .thum.on span.over {
  display: block;
}
.board_thum li .thum.on span.over a {
  display: block;
  width: 281px;
  height: 246px;
  padding: 0;
  margin: 0;
}
.board_thum li .thum span.medal {
  position: absolute;
  top: 10px;
  left: 11px;
  z-index: 10;
}
.board_thum li .thum span.medal img {
  width: 47px;
  height: 58px;
}
.board_thum dt {
  height: 30px;
  font-size: 15px;
  line-height: 21px;
  padding: 13px 0 0 0;
  text-align: center;
}
.board_thum dd {
  font-size: 13px;
  color: #949494;
  line-height: 14px;
  text-align: center;
}
.board_thum dd span.heart {
  padding: 0 0 0 13px;
  margin: 0 10px;
  background: url('/upload/img/icon_heart.png') no-repeat left 3px;
}
.board_thum dd.gradation_top {
  margin-top: 10px;
}
.board_thum dd span.view {
  padding: 0 0 0 16px;
  margin: 0;
  background: url('/upload/img/icon_view.png') no-repeat left 4px;
}
/* pageing */
.paginationS {
  position: relative;
  width: 100%;
  height: 32px;
  padding: 30px 0 0 15px;
}
.paginationS .pageing {
  text-align: center;
  font-size: 16px;
}
.paginationS .pageing a.btn_arr {
  display: inline-block;
  margin: 0 1.5px;
  vertical-align: top;
}
.paginationS .pageing .numbering {
  display: inline-block;
  padding: 0;
}
.paginationS .pageing .numbering strong {
  display: inline-block;
  color: #000;
  line-height: 32px;
  margin: 0 14px;
  text-align: center;
  vertical-align: top;
}
.paginationS .pageing .numbering a {
  display: inline-block;
  color: #949494;
  line-height: 32px;
  margin: 0 14px;
  text-align: center;
}
.paginationS .pageing .numbering a:hover {
  display: inline-block;
  color: #000;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
}
.paginationS .pageing .numbering a:active,
.paginationS .pageing .numbering a:focus {
  text-decoration: none;
}
.paginationS .pageing .paging-item {
  display: inline-block;
  color: #949494;
  line-height: 32px;
  margin: 0 14px;
  text-align: center;
}
.paginationS .pageing .paging-item a:hover {
  display: inline-block;
  color: #000;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
}
.paginationS .pageing .paging-item a:active,
.paginationS .pageing .paging-item a:focus {
  text-decoration: none;
}
.paginationS .pageing .prev {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 1.5px;
  vertical-align: top;
  background: url(/upload/img/btn_pre_off.png) no-repeat;
}
.paginationS .pageing .prev:hover {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 1.5px;
  vertical-align: top;
  background: url(/upload/img/btn_pre_on.png) no-repeat;
}
.paginationS .pageing .next {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 1.5px;
  vertical-align: top;
  background: url(/upload/img/btn_next_off.png) no-repeat;
}
.paginationS .pageing .next:hover {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 1.5px;
  vertical-align: top;
  background: url(/upload/img/btn_next_on.png) no-repeat;
}
.paginationS .pageing .selected {
  display: inline-block;
  color: #000;
  line-height: 32px;
  margin: 0 14px;
  text-align: center;
  vertical-align: top;
}
.aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
  min-height: 500px;
  padding: 50px 0 0 0px;
}
.aside h2 {
  height: 44px;
  font-weight: bold;
  font-size: 25px;
  color: #3f3429;
  line-height: 25px;
  letter-spacing: -1px;
  border-bottom: 2px solid #c6c1bd;
}
.aside .rnb ul {
  padding: 0 0 30px 0;
}
.aside .rnb li {
  height: 53px;
  line-height: 52px;
  padding: 0 0 0 14px;
  background: url('/upload/img/bg_aside01.gif') repeat-x left bottom;
}
.aside .rnb li a {
  color: #66615d;
  padding: 0 0 0 16px;
  background: url('/upload/img/blit_aside.gif') no-repeat left 6px;
}
.aside .rnb li.active {
  /*height:57px; line-height:57px;*/
}
.aside .rnb li.active a {
  font-weight: 800;
  color: #66615d;
}
.aside .quick_menu {
  clear: both;
  display: inline-block;
  width: 100%;
}
.aside .quick_menu li {
  float: left;
  margin: 0 2px 2px 0;
}
.aside .quick_menu li.last {
  margin-right: 0;
}
.character_top_box01 {
  /*height:63px;*/
  font-size: 13px;
  line-height: 22px;
  border: 6px solid #d7d7d7;
  padding: 20px 0;
  margin-bottom: 40px;
  text-align: center;
}
.character_top_box01.mb0 {
  margin-bottom: 0;
}
.character_top_box01.mb20 {
  margin-bottom: 20px;
}
.character_top_box01.mb30 {
  margin-bottom: 30px;
}
.character_top_box01 span.color01 {
  color: #c16151;
}
.character_top_box01.tx_l_btn {
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  text-align: left;
}
.character_top_box01.tx_l_btn a.btn_goto {
  position: absolute;
  top: 21px;
  right: 24px;
  display: block;
  width: 180px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  background: #989390;
  text-align: center;
  text-decoration: none;
}
.character_top_box02 {
  position: relative;
  height: 80px;
  background: #e4e1df;
  padding: 28px 310px 0 75px;
  margin: -30px 0 10px 0;
}
.character_top_box02 dl {
  height: 36px;
}
.character_top_box02 dt {
  float: left;
  width: 250px;
}
.character_top_box02 dd {
  float: left;
  font-weight: bold;
  font-size: 18px;
  color: #c16151;
  line-height: 18px;
}
.character_top_box02 p.time_r {
  position: absolute;
  top: 0;
  right: 0;
  width: 310px;
  height: 76px;
  padding-top: 32px;
  background: #bbb7b4;
  text-align: center;
}
.character_top_box02 p.time_r span.time {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #54302a;
  line-height: 18px;
  padding-top: 15px;
}
.character_stit {
  position: relative;
  height: 45px;
}
.character_stit p.stit {
  font-size: 16px;
  color: #3f3429;
  line-height: 16px;
  background: url('/upload/img/icon_arr01.png') no-repeat left top;
  padding: 0 0 0 20px;
}
.character_stit p.stit span.num {
  display: inline-block;
  font-size: 13px;
  color: #676767;
  margin: 0 0 0 10px;
  padding: 1px 0 0 0;
  vertical-align: top;
}
.character_stit p.stit span.txt_r01 {
  display: inline-block;
  font-size: 13px;
  color: #676767;
  margin: 0 0 0 10px;
  padding: 1px 0 0 0;
  vertical-align: top;
}
.character_stit select.sel_ty01 {
  position: absolute;
  top: -10px;
  right: 0;
  width: 120px;
  height: 35px;
  font-size: 15px;
  color: #676767;
  line-height: 35px;
  border: 1px solid #e8e8e8;
  /*padding:0 0 0 23px;*/
}
.character_list01 li {
  float: left;
  padding: 0 16px 10px 0;
}
.character_list01 li.last {
  padding: 0;
}
.character_list01 li .chr_box {
  width: 211px;
  height: 72px;
  padding: 25px 0 0 0;
  border: 1px solid #e8e8e8;
  text-align: center;
}
.character_list01 li .chr_box p.txt01 {
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 10px;
}
.character_list01 li .chr_box p.txt02 {
  font-size: 13px;
  color: #949494;
  line-height: 21px;
}
.character_list02 ul:after {
  content: "";
  display: block;
  clear: both;
}
.character_list02 li {
  float: left;
  margin-right: 13px;
  padding-bottom: 40px;
  text-align: center;
}
.character_list02 li.mr01 {
  margin-right: 14px;
}
.character_list02 li.last {
  margin-right: 0;
}
.character_list02 li p.thum {
  width: 115px;
  height: 110px;
  border: 1px solid #e8e8e8;
}
.character_list02 li p.btm_inp {
  padding: 10px 0 5px 0;
}
.character_list02 li p.btm_inp span.inp_wrap {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: -2px 0 0 0;
  vertical-align: middle;
}
.character_list02 li label {
  font-size: 15px;
  color: #949494;
  line-height: 15px;
  cursor: pointer;
}
.character_list03 ul:after {
  content: "";
  display: block;
  clear: both;
}
.character_list03 li {
  float: left;
  margin-right: 22px;
  padding-bottom: 30px;
  text-align: center;
}
.character_list03 li.mr01 {
  margin-right: 23px;
}
.character_list03 li.last {
  margin-right: 0;
}
.character_list03 li p.thum {
  position: relative;
  width: 160px;
  height: 256px;
  border: 1px solid #e8e8e8;
  text-align: center;
}
.character_list03 li p.thum a.rep_chr {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 160px;
  height: 256px;
  display: none;
}
.character_list03 li p.thum a.rep_chr span {
  position: absolute;
  left: -1px;
  bottom: -1px;
  display: block;
  width: 162px;
  height: 45px;
  font-size: 15px;
  color: #fff;
  line-height: 45px;
  background: #c16151;
  text-align: center;
  text-decoration: none;
}
.character_list03 li p.thum img.ticket {
  position: absolute;
  right: 2px;
  bottom: 4px;
  display: none;
}
.character_list03 li p.thum.rep {
  border: 1px solid #e43135;
}
.character_list03 li p.thum.rep a.rep_chr {
  display: none !important;
}
.character_list03 li p.thum.rep img.ticket {
  display: block;
}
.character_list03 li p.name {
  font-size: 13px;
  color: #949494;
  line-height: 21px;
  padding-top: 10px;
}
.character_info {
  position: relative;
  height: 209px;
  border: 1px solid #d7d7d7;
  margin-bottom: 30px;
  padding: 53px 40px 0 220px;
}
.character_info .img_avt {
  position: absolute;
  top: 0;
  left: 58px;
  width: 128px;
  height: 256px;
  text-align: center;
}
.character_info .img_avt p.mini {
  position: absolute;
  top: 0;
  right: 0;
}
.character_info dt {
  position: relative;
  height: 56px;
  font-size: 18px;
  color: 676767;
  line-height: 22px;
  padding: 0 0 0 97px;
  background: url('/upload/img/bg_dot01.gif') repeat-x left bottom;
}
.character_info dt img.img_txt {
  position: absolute;
  top: 9px;
  left: 16px;
}
.character_info dt input {
  width: 485px;
  height: 33px;
  font-weight: bold;
  font-size: 16px;
  line-height: 33px;
  padding: 0 0 0 37px;
  border: 1px solid #e8e8e8;
}
.character_info dd {
  padding: 25px 0 0 20px;
}
.character_info ul {
  height: 41px;
}
.character_info li {
  float: left;
  width: 278px;
  font-size: 16px;
  color: #949494;
  padding: 0 0 0 20px;
  background: url('/upload/img/icon_logo01.png') no-repeat left 2px;
}
.character_info li.last {
  width: 300px;
}
.character_info li span.stit {
  display: inline-block;
  width: 90px;
  vertical-align: top;
}
.character_info li span.txt {
  display: inline-block;
  width: 188px;
  color: #c16151;
  vertical-align: top;
}
.character_info li span.txt img {
  margin: -2px 0 0 0;
}
.character_info li.last span.stit {
  width: 70px;
}
.character_info li.last span.txt {
  width: 220px;
}
.character_info dd a.btn_ty01 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: block;
  width: 55px;
  height: 28px;
  font-size: 13px;
  color: #fff;
  line-height: 28px;
  background: #989390;
  text-align: center;
  text-decoration: none;
}
.data_bg_box_channeling {
  height: 200px;
  margin-bottom: 40px;
  padding: 0 0 0 53px;
}
.data_bg_box_channeling.ty01 {
  background: url('/upload/img/bg_data01.jpg') no-repeat left top;
}
.data_bg_box_channeling dl {
  padding: 45px 50px 0 0;
  display: block;
  float: left;
}
.data_bg_box_channeling dt {
  height: 39px;
  font-size: 25px;
  color: #fff;
  line-height: 25px;
}
.data_bg_box_channeling dd {
  height: 57px;
  font-size: 13px;
  color: #fff;
  line-height: 20px;
}
.data_bg_box_channeling a.btn_ty01 {
  display: block;
  float: left;
  width: 247px;
  height: 74px;
  font-weight: bold;
  font-size: 19px;
  color: #fff;
  line-height: 23px;
  padding: 26px 0 0 118px;
  background: #c16151 url('/upload/img/icon_down.png') no-repeat 66px 37px;
  margin: 50px 0 0 0;
  text-decoration: none;
}
.data_bg_box_channeling a.btn_ty01 span {
  font-size: 16px;
  color: #ffce44;
}
.data_bg_box {
  height: 291px;
  margin-bottom: 10px;
  padding: 0 0 0 53px;
}
.data_bg_box.ty01 {
  background: url('/upload/img/bg_data01.jpg') no-repeat left top;
}
.data_bg_box.ty02 {
  background: url('/upload/img/bg_data02.jpg') no-repeat left top;
  margin-bottom: 40px;
}
.data_bg_box.ty03 {
  background: url('/upload/img/bg_data01.jpg') no-repeat left top;
  margin-bottom: 40px;
}
.data_bg_box dl {
  padding: 45px 0 0 0;
}
.data_bg_box dt {
  height: 39px;
  font-size: 25px;
  color: #fff;
  line-height: 25px;
}
.data_bg_box dd {
  height: 57px;
  font-size: 13px;
  color: #fff;
  line-height: 20px;
}
.data_bg_box a.btn_ty01 {
  display: block;
  float: left;
  width: 247px;
  height: 74px;
  font-weight: bold;
  font-size: 19px;
  color: #fff;
  line-height: 23px;
  padding: 26px 0 0 118px;
  background: #c16151 url('/upload/img/icon_down.png') no-repeat 66px 37px;
  margin-right: 10px;
  text-decoration: none;
}
.data_bg_box a.btn_ty01 span {
  font-size: 16px;
  color: #ffce44;
}
.data_bg_box a.btn_ty02 {
  display: block;
  float: left;
  width: 125px;
  height: 74px;
  font-weight: bold;
  font-size: 19px;
  color: #fff;
  line-height: 23px;
  padding: 26px 0 0 80px;
  background: #8a8684 url('/upload/img/icon_down.png') no-repeat 33px 37px;
  margin-right: 10px;
  text-decoration: none;
}
.data_bg_box a.btn_ty02 span {
  font-size: 16px;
  color: #ffebe1;
}
.data_bg_box a.btn_ty03 {
  display: block;
  float: left;
  width: 115px;
  height: 74px;
  font-weight: bold;
  font-size: 19px;
  color: #fff;
  line-height: 23px;
  padding: 26px 0 0 90px;
  background: #8a8684 url('/upload/img/icon_down.png') no-repeat 43px 37px;
  margin-right: 10px;
  text-decoration: none;
}
.data_bg_box a.btn_ty03 span {
  font-size: 16px;
  color: #ffebe1;
}
.data_bg_box a.btn_ty04 {
  display: block;
  float: left;
  width: 211px;
  height: 74px;
  font-weight: bold;
  font-size: 19px;
  color: #3f3429;
  line-height: 23px;
  padding: 26px 0 0 154px;
  background: #ffce44 url('/upload/img/icon_start.png') no-repeat 117px 37px;
  margin-right: 10px;
  text-decoration: none;
}
.data_bg_box a.btn_ty04 span {
  font-size: 16px;
  color: #8a6b4c;
}
.data_cont_box {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e8e8e8;
}
.data_cont_box.last {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.data_cont_box:after {
  content: "";
  display: block;
  clear: both;
}
.data_cont_box dl {
  float: left;
}
.data_cont_box dt {
  height: 22px;
  font-size: 16px;
  color: #3f3429;
  line-height: 16px;
  background: url('/upload/img/icon_arr01.png') no-repeat left top;
  padding: 0 0 0 20px;
}
.data_cont_box dd {
  font-size: 13px;
  line-height: 20px;
  padding: 0 0 0 20px;
}
.data_cont_box a.btn_r01 {
  display: block;
  float: right;
  width: 200px;
  height: 63px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  line-height: 63px;
  padding: 0 0 0 90px;
  background: #8a8684 url('/upload/img/icon_down.png') no-repeat 40px 19px;
  text-decoration: none;
}
.data_cont_box a.btn_r02 {
  display: block;
  float: right;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  padding: 13px 0 0 90px;
  background: #8a8684 url('/upload/img/icon_down.png') no-repeat 40px 19px;
  text-decoration: none;
}
.data_cont_box .btm_btns_down {
  clear: both;
  height: 152px;
  padding: 16px 0 0 0;
}
.data_cont_box .btm_btns_down li {
  float: left;
}
.data_cont_box .btm_btns_down li a {
  display: block;
  width: 224px;
  height: 78px;
  font-weight: bold;
  font-size: 16px;
  color: #8a8684;
  line-height: 20px;
  padding: 84px 0 0 0;
  background: #ffffff url('/upload/img/icon_down03.png') no-repeat center 40px;
  border: 1px solid #e8e8e8;
  border-right: none;
  text-align: center;
  text-decoration: none;
}
.data_cont_box .btm_btns_down li.last a {
  width: 223px;
  border-right: 1px solid #e8e8e8;
}
.data_cont_box .btm_btns_down li a:hover {
  background: #f7f7f7 url('/upload/img/icon_down03.png') no-repeat center 40px;
}
.board_data04 {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 37px;
}
.board_data04 thead th {
  height: 14px;
  font-weight: normal;
  font-size: 13px;
  color: #fff;
  padding: 20px;
  background: #66615d;
}
.board_data04 tbody th {
  height: 14px;
  font-weight: normal;
  font-size: 13px;
  color: #676767;
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  text-align: center;
  vertical-align: middle;
}
.board_data04 tbody td {
  height: 14px;
  font-weight: normal;
  font-size: 13px;
  color: #676767;
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
  text-align: left;
  vertical-align: top;
}
.download-view *,
.download-view :after,
.download-view :before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-decoration: none;
}
.Diy-auction .swiper-slide {
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  position: relative;
}
.Diy-auction .swiper-slide a {
  margin: 0px;
  padding: 0px;
  width: 100%;
  float: left;
  display: table;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
}
.item-list-view {
  background-color: #fbfcfd;
}
.shop-visual-area {
  height: 460px;
  background: url("/upload/img/promotion-bg.jpg") center center no-repeat;
}
.shop-visual-area .slider-wrap {
  position: relative;
  top: 100px;
  left: 0px;
  width: 984px;
  height: 360px;
  margin: 0 auto;
  overflow: hidden;
}
.shop-visual-area .slider-wrap .slider-content-list li {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.shop-visual-area .slider-wrap .slider-content-list li a {
  display: block;
}
.shop-visual-area .slider-wrap .slider-controller {
  z-index: 3;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.shop-visual-area .slider-wrap .slider-controller ul {
  float: right;
}
.shop-visual-area .slider-wrap .slider-controller li {
  float: left;
  margin-right: 5px;
}
.shop-visual-area .slider-wrap .slider-controller li a {
  display: block;
  width: 16px;
  height: 15px;
  background: url("/upload/img/icon1.png") no-repeat;
  background-position: -74px -2px;
}
.shop-visual-area .slider-wrap .slider-controller a.on {
  width: 48px;
  height: 16px;
  background: url("/upload/img/icon1.png") no-repeat;
  background-position: -25px -1px;
}
.shop-visual-area .slider-wrap .item-imminent {
  position: absolute;
  width: 74px;
  height: 83px;
  top: 0px;
  right: 36px;
  background: url("/upload/img/icon1.png") no-repeat;
  background-position: 0px -384px;
}
.shop-new-buy-wrap {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9f8f6;
}
.shop-new-buy-wrap .shop-new-buy-wrap-title {
  position: relative;
  z-index: 2;
}
.shop-new-buy-wrap .shop-new-buy-wrap-list {
  position: relative;
  z-index: 1;
}
.shop-new-buy-wrap .shop-new-buy-wrap-title .first-buy-message-popup {
  display: none;
  z-index: 13;
  position: absolute;
  top: -6px;
  left: 153px;
}
.shop-new-buy-wrap .beige-line {
  margin-top: 12px;
}
.shop-new-buy-wrap .shop-new-buy-wrap-list .shop-item:hover .item-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 215px;
  cursor: pointer;
}
.shop-item-list-wrap {
  margin: 35px auto 0;
  overflow: hidden;
  width: 984px;
}
.shop-item-list-wrap .shop-item-list-tab {
  position: relative;
}
.shop-item-list-wrap .shop-item-list-tab ul {
  width: 100%;
  height: 55px;
}
.shop-item-list-wrap .shop-item-list-tab li {
  float: left;
  width: 162px;
  height: 55px;
  background-color: #ebebeb;
  border-right: 1px solid #fff;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
}
.shop-item-list-wrap .shop-item-list-tab .border-none {
  border-right: none;
}
.shop-item-list-wrap .shop-item-list-tab li.on {
  z-index: 2;
  position: relative;
  background-color: #fbfcfd;
  border: 3px solid #3159a3;
  border-bottom: none;
}
.shop-item-list-wrap .shop-item-list-tab li.on a {
  color: #1a2334;
}
.shop-item-list-wrap .shop-item-list-tab a {
  display: block;
  color: #858585;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.shop-item-list-wrap .shop-item-list-tab .bottom-line {
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 982px;
  border-bottom: 3px solid #3159a3;
}
.shop-item-list-wrap .shop-item-list-sort {
  float: right;
  margin-top: 14px;
}
.shop-item-list-wrap .shop-item-list-sort li {
  float: left;
  margin-left: 21px;
}
.shop-item-list-wrap .shop-item-list-sort li.on {
  font-weight: bold;
}
.shop-item-list-wrap .shop-item-list-sort li a {
  color: #78808f;
  font-size: 15px;
  text-decoration: none;
}
.shop-item-wrap {
  float: left;
  width: 140px;
  height: 340px;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
}
.shop-item {
  position: relative;
  display: block;
  width: 132px;
  height: 340px;
  padding: 0px 4px 39px;
  text-align: center;
  text-decoration: none;
}
.shop-item .shop-item-title {
  width: 132px;
  height: 28px;
  margin-bottom: 4px;
  color: #868686;
  font-size: 15px;
  line-height: 1.3;
}
.shop-item .shop-item-title span {
  display: inline-block;
  vertical-align: middle;
}
.shop-item .shop-item-title .standard {
  height: 100%;
}
.shop-item .shop-item-title .title {
  width: 95%;
}
.shop-item .shop-item-flag {
  position: absolute;
  top: 11px;
  left: 5px;
}
.shop-item .item-complete {
  position: absolute;
  top: 59px;
  right: 10px;
}
.shop-item .shop-item-flag li {
  float: left;
  width: 36px;
  height: 35px;
  background: url("/upload/img/icon1.png");
}
.shop-item .shop-item-flag .new {
  background-position: -1px -144px;
}
.shop-item .shop-item-flag .event {
  background-position: -1px -67px;
}
.shop-item .shop-item-flag .sale {
  background-position: -1px -29px;
}
.shop-item .shop-item-flag .hot {
  background-position: -1px -105px;
}
.shop-item .shop-item-delete-price {
  margin-bottom: 1px;
}
.shop-item .shop-item-delete-price span {
  color: #868686;
  font-size: 13px;
  text-decoration: line-through;
}
.shop-item .shop-item-price {
  color: #88365f;
  font-size: 14px;
  font-weight: bold;
}
.shop-item .shop-item-price span {
  display: block;
}
.shop-item .shop-item-price .shop-item-gold {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 2px;
  background: url("/upload/img/icon1.png");
  background-position: -47px -29px;
}
.shop-item:hover .item-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 340px;
}
.alertBg {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999999;
}
.alertContent {
  width: 500px;
  padding: 20px;
  height: 200px;
  border: 0;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -250px;
}
.alertContent .alertContentTitle {
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
.alertContent .alertContentText {
  padding: 15px 0 0;
  font-size: 14px;
}
.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.especial-wrap {
  margin: 35px auto 0;
  overflow: hidden;
  width: 984px;
}
