body {
    background: #ffffff;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, "WenQuanYi Micro Hei", Verdana, sans-serif, "\5B8B\4F53";
}

/*导航栏*/
.navigation {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000000;
    z-index: 999999;
}

.navigation .navigation_content {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

.navigation .navigation_logo {
    float: left;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navigation .navigation_logo img {
    width: 113px;
    height: 55px;
}


.navigation .navigation_link {
    float: left;
    line-height: 80px;
    margin-left: 100px;
}

.navigation .navigation_link a {
    font-size: 16px;
    color: #fff;
    float: left;
    display: block;
    text-decoration: none;
    width: 150px;
    text-align: center;
    -webkit-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.navigation .navigation_link .wiki {
    color: #4added;
    font-weight: bold;
}

.navigation .navigation_link a:hover {
    background-color: #15414b;
}

/*Bottom*/
.bottom_info {
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
}

.bottom_info .bottom_info_content {
    padding: 40px 0;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.bottom_info .bottom_info_content .bottom_info_content_text {
    padding: 5px 0;
    width: 100%;
    overflow: hidden;
}

.bottom_info .bottom_info_content .bottom_info_content_text a {
    padding-right: 10px;
    color: #000;
    font-size: 14px;
}

.hidden{
    display: none;
}



