
<!DOCTYPE html>
< lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>洛奇私服,神武洛奇,洛奇公益服,Mabinogi,www.luoqisifu.com,luoqisifu.com,bbs.luoqisifu.com,幻世洛奇,幻世Mabinogi,水月洛奇,洛奇英雄传,</title>
    <meta name="description" content="洛奇私服,神武洛奇,洛奇公益服,Mabinogi,洛奇私服,洛奇公益服,洛奇,神武洛奇,洛奇SF,yydzh,mabinogi,www.luoqisifu.com,bbs.luoqisifu.com,幻世洛奇,幻世Mabinogi,水月洛奇,洛奇英雄传," />
    <meta name="keywords" content="洛奇私服mabinogi.yydzh.拥有着宏大的世界观及无可比拟的丰富系统。其独特的北欧风情与日本动漫相结合的画面让玩家们在洛奇公益服体验魔幻冒险时更能享受到如田园牧歌般悠闲的快乐生活。神武洛奇,洛奇私服,洛奇公益服" />
</head>

    <!-- 导航 -->
    <div class="navigation">
        <div class="navigation_content">
            <!-- LOGO -->
            <a href="/index" class="navigation_logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            </a>
            <!-- 链接 -->
            <div class="navigation_link">
                <a href="/index">首页</a>
                <a href="/index#setup">本服设置</a>
                <a href="/announcements">游戏公告</a>
                <a href="/events">活动专区</a>
                <a href="/news">更新资讯</a>
                <a href="http://bbs.luoqisifu.com/">游戏论坛</a>
                <a class="wiki" href="/wiki">神武图书馆</a>
            </div>
        </div>
    </div>


<!-- banner -->
    <div class="banner">
        <div class="banner_content">
            <div class="download">
                <a href="/download" class="download_link"></a>
               <a href="https://shimo.im/docs/hW3XVcqCRD9TVdxV/read" class="shimo_info">神武洛奇文档</a>
                <a href="https://jq.qq.com/?_wv=1027&amp;k=rkWwk1i3" class="qq_info">QQ群</a>
            </div>
            <div class="banner-img">
                    <img src="/static/img/banner.png" alt="">
            </div>
        </div>
    </div>

    <!-- 主页信息START 需放到新的HTML-->
    <div class="news_block">
        <div class="news">
            <!-- 新手领取装备 -->
            <div class="newcomer">
                <a href="/" class="newcomer_button"></a>
            </div>
            <!-- 新闻列表 -->
            <div class="news_list">
                <div class="news_list_title">最新活动</div>
                            <a href="/" class="news_list_big_title">网站正在搭建</a>
                            <div class="news_list_item_list">
                                <a href="/index">·神武洛奇六一活动</a>
                                <a href="/">·神武洛奇月卡活动</a>
                                <a href="/">·神武洛奇活动1</a>
                                <a href="/">·神武洛奇活动2</a>
                            </div>
            </div>

        </div>
    </div>
    <div class="setup_block" id="setup">
        <div class="setup_content">
            <div class="setup_title">本服设置</div>

            <table class="setup_item_table">
                    <thead>
                        <tr><th>项目</th>
                            <th>本服设置</th></tr>
                    </thead>
                    <tbody>
                        <tr><th>版本</th>
                            <td>G22S2</td></tr>
                        <tr><th>全局经验</th>
                            <td>20倍（经验、每级AP点等）</td></tr>
                        <tr><th>技能修炼</th>
                            <td>50倍</td></tr>
                        <tr><th>跑商贸易</th>
                            <td>5倍（经验、金币、杜卡特）</td></tr>
                        <tr><th>任务</th>
                            <td>5倍（经验、金币）</td></tr>
                        <tr><th>综合</th>
                            <td>大量的技能增强，DIY装备</td></tr>
                    </tbody>
                </table>
        </div>
    </div>

    <!-- 主页信息END 需放到新的HTML-->

    <!-- 底部信息 -->
    <div class="bottom_info">
        <div class="bottom_info_content">
            <div class="bottom_info_content_text">
                <a href="/Website/Index">
                    首页
                </a>
                <a href="http://www.luoqisifu.com/Website/Download">
                    社区
                </a>
                <a href="https://jq.qq.com/?_wv=1027&amp;k=rkWwk1i3">
                    QQ群
                </a>
            </div>
            <div class="bottom_info_content_text">
                2021 SHENWU Corporation All Rights Reserved.
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>