
<!DOCTYPE html>
< lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% block extra_head %}
    {% endblock %}
    <title>洛奇私服,神武洛奇,洛奇公益服,Mabinogi,www.luoqisifu.com,luoqisifu.com,bbs.luoqisifu.com,幻世洛奇,幻世Mabinogi,水月洛奇,洛奇英雄传,</title>
    <meta name="description" content="洛奇私服,神武洛奇,洛奇公益服,Mabinogi,洛奇私服,洛奇公益服,洛奇,神武洛奇,洛奇SF,yydzh,mabinogi,www.luoqisifu.com,bbs.luoqisifu.com,幻世洛奇,幻世Mabinogi,水月洛奇,洛奇英雄传," />
    <meta name="keywords" content="洛奇私服mabinogi.yydzh.拥有着宏大的世界观及无可比拟的丰富系统。其独特的北欧风情与日本动漫相结合的画面让玩家们在洛奇公益服体验魔幻冒险时更能享受到如田园牧歌般悠闲的快乐生活。神武洛奇,洛奇私服,洛奇公益服" />
</head>

    <!-- 导航 -->
    <div class="navigation">
        <div class="navigation_content">
            <!-- LOGO -->
            <a href="/index" class="navigation_logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            </a>
            <!-- 链接 -->
            <div class="navigation_link">
                <a href="/index">首页</a>
                <a href="/index#setup">本服设置</a>
                <a href="/announcements">游戏公告</a>
                <a href="/events">活动专区</a>
                <a href="/news">新闻资讯</a>
                <a href="http://bbs.luoqisifu.com/" target="_blank">游戏论坛</a>
                <a class="wiki" href="/wiki"target="_blank">神武图书馆</a>
            </div>
        </div>
    </div>

    {% block banner %}
    {% endblock %}



    {% block content %}
    {% endblock %}



    <!-- 底部信息 -->
    <div class="bottom_info">
        <div class="bottom_info_content">
            <div class="bottom_info_content_text">
                <a href="/Index">
                    首页
                </a>
                <a href="http://bbs.luoqisifu.com/" target="_blank">
                    社区
                </a>
                <a href="https://jq.qq.com/?_wv=1027&amp;k=rkWwk1i3" target="_blank">
                    QQ群
                </a>
            </div>
            <div class="bottom_info_content_text">
                2021 SHENWU Corporation All Rights Reserved.
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block extra_script%}
{% endblock %}
</body>
</html>