{% extends 'base.html'%}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block banner %}
    <div class="banner">
        <div class="banner_content">
            <div class="banner-img" style="background: url('/static/img/banner.png') no-repeat center top">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="news_block">
        <div class="news">
            <!-- 奖励 -->
            <div class="rewards">
                <a href="/" class="rewards_button"></a>
            </div>
            <!-- 新闻列表 -->
            <div class="news_list">
                <ul class="news_list_nav">
                  <li class="news_list_item news_nav_hover">
                    <a href="javascript:void(0);" style="cursor: default;">最新</a>
                  </li>
                  <li class="news_list_item">
                    <a  href="javascript:;">公告</a>
                  </li>
                  <li class="news_list_item">
                    <a href="javascript:;">活动</a>
                  </li>
                  <li class="news_list_item">
                    <a href="javascript:;">新闻</a>
                  </li>
                </ul>
                <ul class="news_list_content" id="public_info">
                    {% for info in public_info %}
                    <li>
                        <p>
                            <strong>【{{info.type}}】</strong>
                            <span>[{{info.time}}]</span>
                            <a href="/article?id={{info.id}}">{{info.title}}</a>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="news_list_content hidden" id="announce_info">
                    {% for info in announce_info %}
                    <li>
                        <p>
                            <strong>【{{info.type}}】</strong>
                            <span>[{{info.time}}]</span>
                            <a href="/article?id={{info.id}}">{{info.title}}</a>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="news_list_content hidden" id="event_info">
                    {% for info in event_info %}
                    <li>
                        <p>
                            <strong>【{{info.type}}】</strong>
                            <span>[{{info.time}}]</span>
                            <a href="/article?id={{info.id}}">{{info.title}}</a>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="news_list_content hidden" id="news_info">
                    {% for info in news_info %}
                    <li>
                        <p>
                            <strong>【{{info.type}}】</strong>
                            <span>[{{info.time}}]</span>
                            <a href="/article?id={{info.id}}">{{info.title}}</a>
                        </p>
                    </li>
                    {% endfor %}
                </ul>

            </div>

            <!--下载 -->
            <div class="download">
                <a href="/download" class="download_link"></a>
                <a href="https://shimo.im/docs/hW3XVcqCRD9TVdxV/read" target="_blank" class="shimo_info">神武洛奇文档</a>
                <a href="https://jq.qq.com/?_wv=1027&amp;k=rkWwk1i3" target="_blank" class="qq_info">QQ群</a>
            </div>
        </div>

    </div>


    <div class="special_block">
        <div class="special_section">
            <div class="special_image" id="special_weapon">
                <img src="static/img/武器-test.png" alt="">
            </div>
            <div class="special_description" id="special_weapon_txt">
                <div class="special_title">
                    霸气的神武自制装备
                </div>
                <div class="special_content">
                    独有的渡鸦之魂装备，最强二十四星辉装备，与帅气的神圣深渊龙套装。传说只有最出色的米莱西安人才能拥有的装备，据说材料是天神赐予的物品锻造。
                </div>
            </div>
        </div>
    </div>

    <div class="special_block">
        <div class="special_section">
            <div class="special_description" id="special_gift_txt">
                <div class="special_title">
                    海量的玩家福利
                </div>
                <div class="special_content">
                    玩家可以通过在线，升级，完成主线能得到海量的福利，福利包括衣装服饰，50级鉴定工具，定制DIY武器材料等。
                </div>
            </div>
            <div class="special_section">
                <div class="special_image" id="special_gift">
                    <img src="static/img/福利.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="special_block">
        <div class="special_section">
            <div class="special_section">
                <div class="special_image" id="special_activity">
                    <img src="static/img/活动.png" alt="">
                </div>
            </div>
            <div class="special_description" id="special_activity_txt">
                <div class="special_title">
                    丰富的节日活动
                </div>
                <div class="special_content">
                    每逢节假日，神武会举办丰富的节日活动，让每一位米莱西安人在爱琳享受到节假日的放松与快乐。
                </div>
            </div>
        </div>
    </div>

    <div class="image_block">
        <div class="image_title">
            <div class="image_title_txt">神武回忆录</div>
        </div>
        <div class="image_section">
            <img src="static/img/图片展示3.png" alt="">
        </div>
    </div>


<!--    <div class="setup_block" id="setup">-->
<!--        <div class="setup_content">-->
<!--            <table class="setup_item_table">-->
<!--                    <thead>-->
<!--                        <tr><th>项目</th>-->
<!--                            <th>本服设置</th></tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                        <tr><th>版本</th>-->
<!--                            <td>G22S2</td></tr>-->
<!--                        <tr><th>全局经验</th>-->
<!--                            <td>20倍（经验、每级AP点等）</td></tr>-->
<!--                        <tr><th>技能修炼</th>-->
<!--                            <td>50倍</td></tr>-->
<!--                        <tr><th>跑商贸易</th>-->
<!--                            <td>5倍（经验、金币、杜卡特）</td></tr>-->
<!--                        <tr><th>任务</th>-->
<!--                            <td>5倍（经验、金币）</td></tr>-->
<!--                        <tr><th>综合</th>-->
<!--                            <td>大量的技能增强，DIY装备</td></tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--        </div>-->
<!--    </div>-->

{% endblock %}

{% block extra_script%}
<!-- Hover and information change in news sections -->
<script>
$(".news_list_item").hover(
  function(){
      $(".news_list_item").removeClass("news_nav_hover");
      $(this).addClass("news_nav_hover");

      $(".news_list_content").addClass("hidden");
      if ($(this).text().trim()==="最新"){
          $("#public_info").removeClass("hidden");
      }
      else if($(this).text().trim()==="公告"){
          $("#announce_info").removeClass("hidden");
      }
      else if($(this).text().trim()==="活动"){
          $("#event_info").removeClass("hidden");
      }
      else if($(this).text().trim()==="新闻"){
          $("#news_info").removeClass("hidden");
      }
  }
);
</script>
{% endblock %}


